nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.principal {
    width: 105%;
    height: 15vh;
    background: #808080;
    display: flex;
    
    flex-wrap: wrap;
    justify-content: center;
    position: fixed;
    bottom: 0;
    
}
.patrat{
    background: #ff0000;
    width: 100px;
    padding: 25px 35px;
    
}
nav .butoane {
    border-radius: 400%;
    width: 100px;
    height: 30px;
    font-size: 60px;
    position: center;
    margin: 5px;
    display: initial-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    


}


.scroll {
    overflow-y: scroll;
}
.muzica {
    margin: 70px -150px;
}
#muzik {
    -webkit-appearance: none;
    width: 150%;
    height: 10px;
    background: #000000;
    border-radius: 8px;
    cursor: pointer;
    margin: 130px -5px;
   
}
    #muzik::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 10px;
        height: 10px;
        background: #000000;
        border-radius: 8px;
        border: 4px solid #ffffff;
        
    }