body {
}
<<<<<<< Updated upstream
=======
.principal {
    width: 110%;
    height: 15vh;
    background: #808080;
    display: flex;
    right: 0px;
    flex-wrap: wrap;
    justify-content: center;
    position: fixed;
    bottom: 0;
        
}
.patrat {
    background: #ff0000;
    width: 100px;
    padding: 25px 35px;
}   
nav .butoane {
    border-radius: 400%;
    width: 100px;
    height: 30px;
    font-size: 70px;
    position: center;
    margin: 5px;
    display: initial-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.muzica {
    margin: 70px -150px;
}
#muzik {
    -webkit-appearance: none;
    width: 450px;
    height: 12px;
    background: #000000;
    border-radius: 8px;
    cursor: pointer;
    margin: 130px -5px;
    position: absolute;
    right: 45%;
    left: 45%;
}
#muzik::-webkit-slider-thumb {
    -webkit-appearance: none;
        width: 10px;
        height: 10px;
        background: #000000;
        border-radius: 8px;
        border: 4px solid #ffffff;
        
    }

.detalii {
    display: flex;
    flex-direction: column;
    position: relative;
    
}
#volume-slider {
    -webkit-appearance: none;
    width: 450px;
    
    background: #000000;
    border-radius: 8px;
    cursor: pointer;
    margin: 100px -5px;
    position: absolute;
    right: 45%;
    left: 45%;
}




#mute-icon {
    margin: 0 2.5%;
}

.button {
    margin: 0;
    position: absolute;
    top: 3%;
    left: 94%;
    font-size: 25px;
    color: whitesmoke;
    background-color: rgb(100, 98, 98);
    border: none;
    border-radius: 2px;
}
>>>>>>> Stashed changes
